// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: none repeat scroll 0 0 #c6c6c6;
}
form {
    width: 260px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #A3A09E;
 
    /*** Adding in CSS3 ***/
 
    /*** Rounded Corners ***/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
 
    /*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
    background:  -moz-linear-gradient(19% 75% 90deg,#dfdfdf, #4C4846);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C4846), to(#dfdfdf));
 
    /*** Shadow behind the box ***/
    -moz-box-shadow:0px -5px 300px #A3A09E;
    -webkit-box-shadow:0px -5px 300px #A3A09E;
}
input {
    width: 230px;
    background: #dfdfdf;
    padding: 6px;
    margin-bottom: 10px;
    border-top: 1px solid #cccccc;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    
    /*** Adding CSS3 ***/
 
    /*** Transition Selectors - What properties to animate and how long ***/
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
 
    /*** Adding a small shadow ***/
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
}
input:hover {
    -webkit-box-shadow: 0px 0px 4px #000;
    background: #c6c6c6;
}
input.submit {
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    border-top: 1px solid #ad64e0;
    margin-top: 10px;
}
.login_notice{
  width:300px;
  margin: 50px auto;
}
